

// rem缩放 padding
@for $i from  1 to 10{
    .p-#{$i}{
        padding:#{$i}rem;
    }
}
// 宽度百分比
@for $i from  1 to 100{
    .ptw-#{$i}{
        width:#{$i}+'%';
    }
    .pth-#{$i}{
        width:#{$i}+'%';
    }
}

@for $i from  1 to 100{
    .mt-#{$i}{
        margin-top:#{$i}+'rem';
    }
    .mb-#{$i}{
        margin-bottom:#{$i}+'rem';
    }
    .ml-#{$i}{
        margin-left:#{$i}+'rem';
    }
    .mr-#{$i}{
        margin-right:#{$i}+'rem';
    }
    .mtb-#{$i}{
        margin-top:#{$i}+'rem';
        margin-bottom:#{$i}+'rem';
    }
    
}